name: number_storage_app
description: A Flutter app to interact with NumberStorage smart contract
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  web3dart: ^2.7.3
  http: ^1.2.0
  flutter_dotenv: ^5.1.0
  flutter_secure_storage: ^10.0.0
  file_picker: ^8.3.2
  flutter_spinkit: ^5.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true
  assets:
    - .env